.content
  width: 343px
  background-color: rgba(13, 19, 18, 0.68)
  color: #fff
  .title
    padding: 7px
    background-color: #1d941d
    font-size: 14px
    text-align: left
    span
      margin-right: 10px
  .market-info-company
    overflow: auto
    max-height: 200px
  .footer
    margin-top: 5px
    padding: 7px
    z-index: 2
    background-color: #1989fa
    text-align: center
    font-size: 14px
    font-weight: bold
