.option-r
  position: absolute
  top: 30%
  right: 0
  width: 27px
  .ivu-btn
    padding: 3px
    margin-bottom: 3px
    border-radius: 0px
  span
    writing-mode: vertical-lr
    letter-spacing: .3rem
    font-weight: bold