.note-container
  padding: 15px

  .note-search
    padding-bottom: 10px
    border-bottom: 2px solid #000

  .note-table
    margin-top: 10px
    .title
      font-size: 13px
      font-weight: bold

  .note-page
    margin-top: 20px
    bottom: 20px